@import "tailwindcss";
@config "../tailwind.config.js";

.mobile-scroll::-webkit-scrollbar {
    width: 4px;
}

.mobile-scroll::-webkit-scrollbar-track {
    background: transparent;
}

.mobile-scroll::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.25);
    border-radius: 9999px;
}

.mobile-scroll::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, 0.35);
}

.mobile-scroll {
    scrollbar-width: thin;
    scrollbar-color: rgba(0, 0, 0, 0.3) transparent;
}